.widget-atomic-social {
  h3 {
    margin-bottom: 20px;

  }
  .icon-button {
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    position: relative;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 40px;

    span {
      border-radius: 50%;
      display: block;
      height: 0;
      left: 50%;
      margin: 0;
      position: absolute;
      top: 50%;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      width: 0;
    }

    i {
      background: none;
      color: white;
      height: 40px;
      left: 0;
      line-height: 40px;
      position: absolute;
      top: 0;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      width: 40px;
      z-index: 10;
      font-size: 22px;
    }

    &.twitter span {
      background-color: #4099ff;
    }
    &.facebook span {
      background-color: #3B5998;
    }
    &.google-plus span {
      background-color: #db5a3c;
    }
    &.tumblr span {
      background-color: #34526f;
    }
    &.instagram span {
      background-color: #517fa4;
    }
    &.youtube span {
      background-color: #bb0000;
    }
    &.pinterest span {
      background-color: #cb2027;
    }
    &.vimeo span {
      background-color: #0185B4;
    }

    &:hover {
      span {
        width: 40px;
        height: 40px;
        border-radius: 40px;
        margin: -20px;
      }
    }
  }

  .icon-button {
    &.twitter i {
      color: #4099ff;
    }
    &.facebook i {
      color: #3B5998;
    }
    &.tumblr i {
      color: #34526f;
    }
    &.google-plus i {
      color: #db5a3c;
    }
    & .instagram i {
      color: #517fa4;
    }
    &.youtube i {
      color: #bb0000;
    }
    &.pinterest i {
      color: #cb2027;
    }
    &.vimeo i {
      color: #0185B4;
    }

    .fa,
    .mdi {
      &:hover {
        color: #FFF;
      }
    }
  }

}

.col-sm-6 {
  .widget-atomic-social {
    text-align: center;
    h3 {
      display: none;
    }
    .icon-button {
      width: 60px;
      height: 60px;
      line-height: 60px;

      i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 32px;
      }

      &:hover {
        span {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin: -30px;
        }
      }
    }
  }
}
