.loading {
  height: 100%;
  width: 100%;
  background: #FFF !important;
  z-index: 999;
  position: fixed;

  .loader {
    color: #3d3d3d !important;
  }
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  background: rgba(255,255,255,1);
  height: 100px;
  z-index: 9;

  .transition(all 0.4s ease-in-out);

  .logo {
    width: 0px;
    height: 100px;
    float: left;
    width: 230px;
    text-align: center;

    a {
      color: #3d3d3d;
      padding: 32px 0;
      display: block;
      font-size: 22px;
      font-weight: 500;
      text-align: center;

      &:hover {
        color: @brand-primary;
        text-decoration: none;
      }
    }

  }

  .menu-icon {
    display: none;
    height: 60px;
    width: ~"calc(100% - 200px)";
    float: left;
    margin: 0;

    a {
      color: #3d3d3d;
      padding: 32px 0;
      display: block;
      font-size: 22px;
      font-weight: 500;
      text-align: center;

      &:hover {
        color: @brand-primary;
        text-decoration: none;
      }
    }

  }

  .menu {
    width: ~"calc(100% - 460px)";
    float: left;
    margin: 0;

    .nav {
      margin: 0;
      height: 100px;
      border-bottom: none;
      text-align: center;

      .dropdown:hover .dropdown-menu {
        display: block;
      }

      li {
        list-style-type: none;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: inline-block;

        a {
          color: #3d3d3d;
          display: inline;
          border: 0;
          font-weight: 700;
          font-size: 13px;
          padding: 34px 25px;
          display: block;

          &:first-child {
            padding: 34px 25px 34px 15px;
          }

          .transition(all 0.4s ease-in-out);

          .caret {
            margin-top: -3px;
            margin-left: 4px;
          }

          &:hover {
            color: @brand-primary;
            background: none;
            text-decoration: none;
            border: 0;
          }

          &:focus {
            text-decoration: none;
            background-color: transparent;
            outline: none;
          }

        }

        .dropdown-menu {
          top: 100px;
          left: -30px;
          margin: 0;
          padding: 20px 30px;
          box-shadow: none;
          background: rgba(255,255,255,1);
          border-left: 1px solid rgba(255,255,255,0.3);
          border-right: 1px solid rgba(255,255,255,0.3);
          border-bottom: 1px solid rgba(255,255,255,0.3);
          border-top: 0;
          border-radius: 0;

          .transition(all 0.4s ease-in-out);

          li {
            margin: 0;

            a {
              margin: 0;
              padding: 10px 25px;
              font-size: 13px;
              font-weight: 700;
            }
          }

          .nav-header {
            color: #efefef;
            padding: 15px 25px 10px 25px;
            font-weight: 300;
            font-size: 12px;
          }
        }
      }
    }
  }

  .signin {
    width: 230px;
    border-left: 1px solid rgba(255,255,255,0.3);
    height: 100px;
    float: left;
    margin: 0;
    text-align: center;

    a {
      display: block;
      text-align: center;
      padding: 34px 0;
      color: #3d3d3d;
      font-weight: 700;
      font-size: 13px;
      text-transform: uppercase;

      &:hover {
        color: @brand-primary;
        text-decoration: none;
      }
    }
  }
}

#header.small {
  height: 60px;
  background: rgba(255,255,255,1);
  border-bottom: 0;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.05);

  .logo {
    height: 60px;
    border-right: rgba(0,0,0,0);

    a {
      padding: 12px 0;
    }
  }

  .menu-icon {
    a {
      padding: 12px 0;
    }
  }

  .menu {
    height: 60px;

    .nav {
      height: 60px;

      li {
        a {
          padding: 14px 25px;

          &:first-child {
            padding: 14px 25px 14px 4px;
          }
        }

        .dropdown-menu {
          top: 60px;
          border: rgba(0,0,0,0);
          background: rgba(255,255,255,1);
          box-shadow: 0px 1px 0px rgba(0,0,0,0.05);
        }
      }
    }
  }

  .signin {
    height: 60px;
    border-left: 0;

    a {
      padding: 12px 0;
    }
  }
}

/** THEMES **/

#header.transparent {
  background: transparent;
  color: #FFF;
  border: 0;
  box-shadow: none;


  .logo {
    border: 0;

    a {
      color: #FFF;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

      &:hover {
        color: @brand-primary;
      }
    }
  }

  .menu-icon {
    a {
      color: #FFF;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

      &:hover {
        color: @brand-primary;
      }
    }
  }

  .menu {
    .nav {
      li {
        a {
          color: #FFF !important;
          text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

          &:hover {
            color: @brand-primary !important;
          }
        }

        .dropdown-menu {
          background: transparent;
          border: 0;
          top: 60px;

          &:hover {
            color: @brand-primary !important;
          }
        }
      }
    }
  }

  .signin {
    border: 0;

    a {
      color: #FFF;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);

      &:hover {
        color: @brand-primary;
      }
    }
  }
}

#header.small.transparent {
  background: transparent;

  .logo {
    a {
      color: #fff;
      text-shadow: none;

      &:hover {
        color: @brand-primary;
      }
    }
  }

  .menu-icon {
    a {
      color: #fff !important;
      text-shadow: none;

      &:hover {
        color: @brand-primary !important;
      }
    }
  }

  .menu {
    .nav {
      li {
        a {
          color: #fff !important;
          text-shadow: none;

          &:hover {
            color: @brand-primary !important;
          }
        }

        .dropdown-menu {
          top: 60px;
          background: rgba(255,255,255,1);

          a {
            color: #3d3d3d;

            &:hover {
              color: @brand-primary !important;
            }
          }
        }
      }
    }
  }

  .signin {
    a {
      color: #fff;
      text-shadow: none;

      &:hover {
        color: @brand-primary;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  #header {
    .logo {
      width: 100px;
      a {
        .text {
          display: none;
        }

      }
    }

    .menu {
      width: ~"calc(100% - 200px)";
    }

    .signin {
      width: 100px;

      a {
        font-size: 20px;

        .text {
          display: none;
        }
      }

    }
  }
}

@media screen and (max-width: 1100px) {

    #header {

      .menu-icon {
        display: block;
      }
      .menu {
        display: none;
      }

    }

}
