//
// Bootstrap
//
// Comment out any unused components
// --------------------------------------------------
  
// Variables
@import "../vendor/bootstrap/less/variables";

// Mixins: Utilities
@import "../vendor/bootstrap/less/mixins/hide-text";
@import "../vendor/bootstrap/less/mixins/opacity";
@import "../vendor/bootstrap/less/mixins/image";
@import "../vendor/bootstrap/less/mixins/labels";
@import "../vendor/bootstrap/less/mixins/reset-filter";
@import "../vendor/bootstrap/less/mixins/resize";
@import "../vendor/bootstrap/less/mixins/responsive-visibility";
@import "../vendor/bootstrap/less/mixins/size";
@import "../vendor/bootstrap/less/mixins/tab-focus";
@import "../vendor/bootstrap/less/mixins/text-emphasis";
@import "../vendor/bootstrap/less/mixins/text-overflow";
@import "../vendor/bootstrap/less/mixins/vendor-prefixes";

// Mixins: Components
@import "../vendor/bootstrap/less/mixins/alerts";
@import "../vendor/bootstrap/less/mixins/buttons";
@import "../vendor/bootstrap/less/mixins/panels";
@import "../vendor/bootstrap/less/mixins/pagination";
@import "../vendor/bootstrap/less/mixins/list-group";
@import "../vendor/bootstrap/less/mixins/nav-divider";
@import "../vendor/bootstrap/less/mixins/forms";
@import "../vendor/bootstrap/less/mixins/progress-bar";
@import "../vendor/bootstrap/less/mixins/table-row";

// Mixins: Skins
@import "../vendor/bootstrap/less/mixins/background-variant";
@import "../vendor/bootstrap/less/mixins/border-radius";
@import "../vendor/bootstrap/less/mixins/gradients";

// Mixins: Layout
@import "../vendor/bootstrap/less/mixins/clearfix";
@import "../vendor/bootstrap/less/mixins/center-block";
@import "../vendor/bootstrap/less/mixins/nav-vertical-align";
@import "../vendor/bootstrap/less/mixins/grid-framework";
@import "../vendor/bootstrap/less/mixins/grid";

// Reset
@import "../vendor/bootstrap/less/normalize";
@import "../vendor/bootstrap/less/print";
@import "../vendor/bootstrap/less/glyphicons";

// Core CSS
@import "../vendor/bootstrap/less/scaffolding";
@import "../vendor/bootstrap/less/type";
@import "../vendor/bootstrap/less/code";
@import "../vendor/bootstrap/less/grid";
@import "../vendor/bootstrap/less/tables";
@import "../vendor/bootstrap/less/forms";
@import "../vendor/bootstrap/less/buttons";

// Components
@import "../vendor/bootstrap/less/component-animations";
@import "../vendor/bootstrap/less/dropdowns";
@import "../vendor/bootstrap/less/button-groups";
@import "../vendor/bootstrap/less/input-groups";
@import "../vendor/bootstrap/less/navs";
@import "../vendor/bootstrap/less/navbar";
@import "../vendor/bootstrap/less/breadcrumbs";
@import "../vendor/bootstrap/less/pagination";
@import "../vendor/bootstrap/less/pager";
@import "../vendor/bootstrap/less/labels";
@import "../vendor/bootstrap/less/badges";
@import "../vendor/bootstrap/less/jumbotron";
@import "../vendor/bootstrap/less/thumbnails";
@import "../vendor/bootstrap/less/alerts";
@import "../vendor/bootstrap/less/progress-bars";
@import "../vendor/bootstrap/less/media";
@import "../vendor/bootstrap/less/list-group";
@import "../vendor/bootstrap/less/panels";
@import "../vendor/bootstrap/less/responsive-embed";
@import "../vendor/bootstrap/less/wells";
@import "../vendor/bootstrap/less/close";

// Components w/ JavaScript
@import "../vendor/bootstrap/less/modals";
@import "../vendor/bootstrap/less/tooltip";
@import "../vendor/bootstrap/less/popovers";
@import "../vendor/bootstrap/less/carousel";

// Utility classes
@import "../vendor/bootstrap/less/utilities";
@import "../vendor/bootstrap/less/responsive-utilities";

.bootstrap-input() {
  display: block;
  width: 100%;
  height: @input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  padding: @padding-base-vertical @padding-base-horizontal;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @input-color;
  background-color: @input-bg;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid @input-border;
  border-radius: @input-border-radius;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  .transition(~"border-color ease-in-out .15s, box-shadow ease-in-out .15s");

  // Customize the `:focus` state to imitate native WebKit styles.
  .form-control-focus();

  // Placeholder
  .placeholder();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: @cursor-disabled;
    background-color: @input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content
  }

  // Reset height for `textarea`s
  textarea& {
    height: auto;
  }
}
