body {
  background-color: #fff;
  color: #777;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body.no-scroll {
  overflow-y:hidden;
  padding-right: 15px;
}

body, input, select, textarea {
  font-family: "Source Sans Pro";
  font-size: 13pt;
  font-weight: 400;
  line-height: 2em;
}

.ani {
  .transition(all 0.3s ease-in-out);
}

.panel-grid {
   margin-bottom: 0;
}

#main-content {
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #373737;
  font-weight: 400;
  font-size: 50px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #373737;
  font-weight: 400;
  font-size: 46px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #373737;
  font-weight: 400;
  font-size: 36px;
}

.desc {
  color: rgba(0,0,0,0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.mail-sent-conf {
  display: none;
  background: rgba(0,0,0,0.8);
  border-radius: 5px;
  padding: 20px;
  color: #FFF;
  font-size: 18px;
  margin: -20px 14px 20px 14px;
}

/*
* Atomic Shortcodes
*/

.as-col {
  padding: 0px 40px 0 10px !important;

  &:last-child {
    padding-right: 0px !important;
  }
}

/*  Tablet  */
@media (min-width:767px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Medium Desktop  */
@media (min-width:992px){

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Large Desktop  */
@media (min-width:1200px){

  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}

.brand-primary {
  color: @brand-primary;
}

.brand-primary-bg {
  background-color: @brand-primary;
}
