// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;


// Brand colors
// -------------------------

// #e65c5c;
@brand-primary:         #11C378;
@brand-secondary:       #ffffff;
@brand-dark:            #3B3F45;
@brand-background:      #FBFAF8;



// Glyphicons path
// -------------------------

@icon-font-path:        "../vendor/bootstrap/fonts/";

.brand-primary-color {
  color: @brand-primary !important;
}

.brand-primary-bg-color {
  color: @brand-primary;
}
