.gallery-preview {
  padding: 0;
  margin: 0;

  .head {
    margin: 100px 0 50px 0;
  }

  .row {

    .soft {
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }

    &.images {

      padding-left: 30px;
      padding-right: 30px;

      .col-lg-3,
      .col-md-6,
      .col-md-4 {
        margin-bottom: 30px;
      }
    }

    &.see-all-images {
      text-align: center;
      padding: 10px 0 0 0;
      margin: 30px 0 100px 0;
    }

    .preview {
      box-radius: 5px;

      .overlay {
        height: 360px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(29, 21, 7, 0.2);
        cursor: pointer;
        .transition(all 0.15s ease-in-out);

        .icon {
          text-align: center;
          position: absolute;
          width: 100%;
          text-align: center;
          margin-top: 160px;
          opacity: 0;
          font-size: 45px;
          .transition(all 0.15s ease-out);
        }

        .count {
          position: absolute;
          width: 100%;
          margin-top: 210px;
          text-align: center;
          font-size: 16px;
          text-transform: uppercase;
          color: #FFF;
          font-weight: 800;
          opacity: 0;
          .transition(all 0.15s ease-out);
        }

        .info {
          margin-top: 300px;
          height: 42px;
          //background-image: url(../img/gallery_collection_gradient.png);
          background-position: bottom;
          background-repeat: repeat-x;
          background-size: 7px 62px;
          display: inline-block;

          .title {
            padding: 26px 0 0 15px;
            color: #FFF;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            background-color: rgba(43,48,53,0.9);
            padding: 5px 16px;
            margin: 0 15px 15px 15px;

            .transition(all 0.15s ease-out);

            .desc {
              color: #FFF;
              font-size: 15px;
              font-weight: 500;
              opacity: 0;
              display: inline-block;
              margin-left: -20px;
              .transition(all 0.15s ease-out);
            }
          }

        }
      }

      .image {
        height: 360px;
        background-size: cover;
      }

      .title {
        height: 60px;
        width: 100%;
        top: 300px;
        left: 0;
        position: absolute;
        background-color: transparent;
        color: transparent;
        border-top: 1px solid rgba(255,255,255,0.3);
        -webkit-border-bottom-right-radius: 2px;
        -webkit-border-bottom-left-radius: 2px;
        -moz-border-radius-bottomright: 2px;
        -moz-border-radius-bottomleft: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        .transition(all 0.15s ease-in-out);

        p {
          color: #FFF;
          text-align: center;
          padding: 10px 10px 0px 10px;
          .transition(all 0.15s ease-in-out);
        }
      }

      &:hover,
      &:focus {
        text-decoration: none;

        .overlay {
          background: rgba(29, 21, 7, 0.7);

          .icon {
            margin-top: 120px;
            opacity: 1;
          }

          .count {
            margin-top: 190px;
            opacity: 1;
          }

          .info {
            .title {
              background-color: rgba(43,48,53,0);
              .desc {
                opacity: 1;
                margin-left: 10px;
              }
            }
          }
        }

        .title {
          background: transparent;
          border: 1px solid transparent;
          border-top: 1px solid rgba(255,255,255,0.4);

          p {
            color: #FFF;
          }
        }
      }
    }
  }
}

/*
/ Mobile view

}
*/

@media (max-width: @screen-sm) {
  .home-gallery {
    .head {
      margin: 80px 0 20px 0;
    }
  }
}

/*
/ Table view
*/
@media (max-width:991px) {
  .home-gallery {
    .preview {
      .title,
      .overlay {
        margin-top: 1px;
      }
    }
  }
}
