.gs-section {
  background-color: #FFF;

  &.brand-background {
      background-color: @brand-background;
  }

  .head {
    margin: 0;
    text-align: center;

    h2 {
      padding: 0;
      margin: 0 0 20px 0;
    }

    .line {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #5A5A5A;
      margin: 10px auto 30px auto;

      &:before,
      &:after {
        content: "";
        width: 100px;
        height: 2px;
        position: absolute;
        margin-top: 3px;
        background: #efefef;
      }

      &:before {
        margin-left: -112px;
      }

      &:after {
        margin-left: 12px;
      }
    }

    .desc {
      color: rgba(0,0,0,0.5);
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      line-height: 150%;
    }

  }
}
