.home-agent {
  padding: 0;
  margin-top: 100px;
  margin-bottom: 100px;

  .head {
    .line {
      &:before {
        margin-left: -112px;
      }

      &:after {
        margin-left: 20px;
      }
    }
  }

  .row {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    .col-image {
      height: 560px;

      .image {
        background-size: cover;
        background-position: center center;
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    .info {
      text-align: left;
      height: 560px;

      .wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      h2 {
        text-align: center;
        margin-bottom: 5px;
      }

      .title {
        text-align: center;
        font-size: 20px;
        color: @brand-primary;
        font-weight: bold;
      }

      .desc {
        text-align: center;
        padding: 0 30px;
      }
      .agent {
        margin-top: 30px;

        .name {
          font-weight: 600;
          font-size: 16px;
          color: #4b4e53;
          margin: 0;
          padding: 0;
          line-height: 100%;
        }

        .title {
          margin-top: 6px;
          padding: 0;
          font-weight: 500;
          line-height: 100%;
        }
      }

      p {
        color: #808080;
        line-height: 150%;
        color: #4b4e53;
      }

      .contact {
        margin-top: 50px;

        .row {
          display: block;

          [class*=col-] {
            text-align: center;
            margin-bottom: 20px;

            .fa {
              font-size: 32px;
              background-color: @brand-primary;
              color: #FFF;
              width: 50px;
              height: 50px;
              border-radius: 50%;
              padding: 10px;
            }

            p {
              margin-top: 15px;
              font-weight: bold;
            }
          }

          p {
            color: #4b4e53;
            font-size: 16px;
          }

          .fa {
            color: #4b4e53;
            font-size: 16px;
          }
        }
      }
    }
  }
}


@media (max-width: @screen-md) {
  .home-agent {
    .row {
      .info {
        padding: 60px 25px 0 0;
        height: auto;

        .wrapper {
          position: static;
          top: auto;
          transform: none;
        }
      }
      .col-image {
        padding-right: 40px;
      }
    }
  }
}
