.gs-contact {
  padding: 100px 0 100px 0;
  background-color: @brand-background;
}

.contact-form {
  margin-top: 30px;

  .input-field {

    label {
      font-size: 14px;
      font-weight: 500;
      top: 2px;
      margin-left: 8px;
      color: #7c7c7c !important;

      &:focus {
        top: 40px;
        color: red;
      }
    }

    label{
        &.active {
          top: 24px;
          color: #7c7c7c;
        }
    }

    input[type=text],
    input[type=email],
    textarea {
      font-size: 15px;
      color: #3d3d3d;
      font-weight: 500;
      border-bottom: 1px solid rgba(0,0,0,0.4);

      &:focus {
        border-bottom: 1px solid rgba(0,0,0,0.6);
        box-shadow: none;
      }

      &.valid {
        border-bottom: 1px solid rgba(0,0,0,0.6);
        box-shadow: none;
      }
    }

    textarea {
      padding: 3px 0 !important;
    }
  }

  .send-container {
    padding-top: 20px;
    text-align: center;
  }

}
