.home-testimonials {
  padding: 0;
  height: 600px;
  background-size: cover;
  background-position: center center;

  .testimonials-slide {
    height: 600px;
    background-color: rgba(29, 21, 7, 0.7);

    .slide {
      margin: 0 auto;
      height: auto;

      .caption-wrapper {
        width: 100%;
        height: 100%;
        bottom: 0;
        position: relative;

        .info {
          position: relative;
            top: 50%;
            transform: translateY(-50%);

          .icon {
            margin: 0 auto;
            text-align: center;
            font-size: 40px;
            width: 64px;
            height: 49px;
            background-image: url('../img/quote_icon.png');
            background-size: 64px 49px;
          }

          .quote {
            text-align: center;
            font-size: 26px;
            margin: 50px 0 0 0;
          }

          .author {
            margin: 50px 0 0 0;
            display: inline-block;

            .image {
              float: left;
              width: 70px;
              height: 70px;
              border-radius: 50%;
              background-size: cover;
              background-position: center center;
              background-image: url('../img/dummy_profile.jpg');
            }

            .by {
              float: left;
              margin-left: 20px;
              margin-top: 15px;
              text-align: left;

              .name {
                font-weight: 600;
                padding: 0;
                margin: 0;
                font-size: 18px;
                line-height: 100%;
              }

              .title {
                font-size: 16px;
                font-weight: 400;
                line-height: 100%;
                padding: 6px 0 0 0;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

/*
* Table view
*/

@media (max-width: @screen-md) {
  .home-testimonials {
    .testimonials-slide {
      .slide {
        padding: 0 60px;

        .caption-wrapper {
          padding-right: 0;

          .info {
            .quote {
              font-size: 24px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: @screen-sm) {
  .home-testimonials {
    .testimonials-slide {
      .slide {
        .caption-wrapper {
          .info {
            .quote {
              font-size: 20px;
            }
            .author {
              margin: 50px 0 0 0;
              display: inline-block;

              .image {
                float: none;
                margin: 0 auto;
              }

              .by {
                margin-left: 0;
                float: none;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
