.house-info {
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-size: cover;
  background-position: center center;

  .row {
    padding: 0;
    margin: 0;
    background-color: rgba(0,0,0,0.2);

    .info {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      -webkit-border-top-right-radius: 2px;
      -webkit-border-bottom-right-radius: 2px;
      -moz-border-radius-topright: 2px;
      -moz-border-radius-bottomright: 2px;

      .wrapper {
        min-height: 600px;
        width: 100%;
        display: table;
        background-color: rgba(29, 21, 7, 0.6);

        .inner-wrapper {
          display: table-cell;
          vertical-align: middle;
          padding: 100px 60px;

          h2 {
            color: #FFF;
            text-align: left;
            border-top: 1px solid rgba(255,255,255,0.2);
          }

          .line {
            background-color: rgba(255,255,255,0.8);

            &:after,
            &:before {
              background-color: rgba(255,255,255,0.4);
            }
          }


          p {
            color: rgba(255,255,255,0.8);
            line-height: 150%;
            text-align: left;

            &.desc {
              text-align: left;
              margin-top: 40px;
            }
          }

          .additional {
            margin-top: 40px;
            padding: 15px 0 0 0;
            background: transparent;

            [class*='col-'] {
              padding: 0 25px 0 0;
              margin: 0;

              h3 {
                text-align: left;
                font-size: 18px;
                font-weight: bold;
                color: #FFF;
                margin-top: 25px;
                margin-bottom: 15px;
                line-height: 130%;
                text-transform: uppercase;
              }
            }
          }
        }
      }

    }

    .read-more {
      border-top: 1px solid rgba(255,255,255,0.2);
      margin-top: 40px;
      padding-top: 40px;
      text-align: left;

      .btn {
      }
    }
  }
}
@media (max-width: @screen-md) {
  .home-about {
    padding: 0;
    .row {
      display: block;

      .info {
        padding: 0;

        .wrapper {

          .inner-wrapper {
            padding: 0 60px 80px 60px;
          }
        }
      }
    }
  }
}

.page-section {
  .home-about {
    margin-left: 0;
    margin-right: 0;
  }
}
