.nearby-places {
  padding-top: 100px;
  padding-bottom: 100px;

  .container {


    .title-desc {
      padding: 0 30px 60px 30px;
      text-align: center;

      h2 {
      }

      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
      }
    }

    .row {

      .map {
        height: auto;

        .google-map {
          height: 560px;
        }

        .places {
          display: none;
          padding: 15px 0 10px 0;
          border: 1px solid #edeae4;
          border-bottom: 2px solid #edeae4;
          background-color: #FFF;

          .item {
            float: left;
            width: 50%;
            margin-bottom: 5px;
            border-left: 10px solid #FFFFFF;

            .icon {
              position: absolute;
              height: 58px;
              width: 60px;
              color: #FFF;
              text-align: center;
              padding-top: 12px;
              font-size: 22px;
              border-bottom: 1px solid #FFFFFF;
            }

            .info {
              height: 58px;
              padding: 8px 10px 0 60px;
              border-bottom: 1px solid #f3f3f3;

              p {
                line-height: 100%;
                padding: 0;
                margin: 0;

                &.type {
                  font-size: 14px;
                  color: #a5a5a5;
                  padding-top: 5px;

                  &:first-letter {
                    text-transform: uppercase;
                  }

                  .distance {
                    float:right;
                  }
                }

              }

            }

            &:nth-last-child(-n+2) {
              .info {
                border-bottom: 1px solid #FFFFFF;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: @screen-sm) {
  .nearby-places {
    .container {
      .row {
        .map {
          .places {
            margin: 20px;
            padding-top: 20px;

            .item {
              width: 100%;
              padding-right: 10px;
              border-left: 0;

              .icon,
              .info {
                border: 0;
              }

              &:nth-last-child(-n+2) {
                .info {
                  border: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: @screen-md) {
  .nearby-places {
    padding: 0;

    .container {
      width: 100%;
      padding: 100px 0 60px 0px;
      margin-left: 0;
      margin-right: 0;

      .row {
        margin-left: 0;
        margin-right: 0;

        .map {
          padding: 0;
        }
      }
    }
  }
}
