#property-details {
  padding: 100px 0 100px 0;

  .head {
    margin: 0;

    h2 {
    }
    .desc {
      color: #82888E;
    }
  }

  .items {
    margin-top: 80px;
    margin-bottom: 0;

    .item {
      border-right: 1px dashed #d9d6d0;

      &:last-child {
        border-right: 0;
      }

      .icon {
        width: 124px;
        height: 124px;
        margin: 0 auto;

        .sofa {
          margin-top: 22px;
        }

        .hammer {
          margin-top: 6px;
        }
      }

      .desc {
        margin: 20px 0 0 0;
        padding: 0;
        line-height: 100%;
        font-size: 34px;
        font-weight: 500;
        text-align: center;
        color: #4d4d4d;
      }

      .title {
        margin: 10px 0 0 0;
        font-size: 20px;
        font-weight: 500;
        color: #7A7A7A;
        text-align: center;
      }
    }
  }
}

/* CSS for high-resolution devices */
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  #house-properties {
    .items {
      .item {
        .icon {
          background-image: url('../img/house_icons@2x.png');
          background-size: 510px 102px;
        }
      }
    }
  }
}


/* tablet */
@media (max-width: @screen-lg) {
  #property-details {
    padding: 60px 0 40px 0;
    .items {
      margin-top: 60px;
      
      .item {
        border-right: 1px dashed #d9d6d0;
        margin-bottom: 60px;

        &:last-child {
          border-right: 0;
        }

      }
    }
  }
}

@media (max-width: @screen-sm) {
  #property-details {
    padding: 40px 0 20px 0;
    .items {
      margin-top: 40px;

      .item {
        .icon {
          width: 100px;
          height: 100px;
        }

        .desc {
          font-size: 28px;
        }

        .title {
          font-size: 16px;
        }
      }
    }
  }
}

.single-page {
  #property-details {
    padding: 0 0 60px 0;
  }
}
