.title-desc {
  padding: 80px 0 80px 0;

  &.page-title {
    padding: 10px 0 30px 0;
  }

  h2 {
    margin: 0 0 20px 0;
  }

  p {
    color: rgba(0,0,0,0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
  }

  .line {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #5A5A5A;
    margin: 10px auto 30px auto;

    &:before,
    &:after {
      content: "";
      width: 100px;
      height: 2px;
      position: absolute;
      margin-top: 3px;
      background: #efefef;
    }

    &:before {
      margin-left: -112px;
    }

    &:after {
      margin-left: 12px;
    }
  }

  &.center {
    h2 {
      display: block;
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}

@media (max-width: @screen-sm) {
  .title-desc {
    padding: 80px 30px;
  }
}
