.simple-image-slider {
   width: 100%;
   height: 100%;
   overflow: hidden;
   position: relative;
   display: none;
}

   .simple-image-slider .slide {
      display: none;
      position: absolute;
      margin-left: 0;
   }

   .simple-image-slider .slide.animate {
      -webkit-transition: margin ease-out .4s;
      -moz-transition: margin ease-out .4s;
      -o-transition: margin ease-out .4s;
      transition: margin ease-out .4s;
      -webkit-transform: translate3d(0,0,0);
      -moz-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      -o-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
   }

      .simple-image-slider .slide .image {
         height: 100%;
         width: 100%;
         position: relative;
         background-size: cover;
         background-position: center center;
      }

      .simple-image-slider .slide .overlay {
         top: 0;
         height: 100%;
         width: 100%;
         position: absolute;
         background-color: rgba(0,0,0,0.3);
      }

      .simple-image-slider .slide .container {
         position: relative;
      }

      .simple-image-slider .slide .caption-wrapper {
         display: block !important;
   		position: absolute;
   		bottom: 55px;
   		width: 600px;
      }
   	  .simple-image-slider .slide .caption-wrapper h1 {
   			font-weight: 700;
   			color: #FFF;
   			padding: 0 0 6px 0;
   			margin: 0;
   		}

   		.simple-image-slider .slide .caption {
   			line-height: 140%;
   			color: #FFF;
   			font-size: 18px;
   			font-weight: 400;
            position: static;
   		}

      }

   .simple-image-slider .controller {
      width: 100%;
      height: 100%;
      /*top: calc((100% / 2) - 25px);*/
      position: absolute;
   }

      .simple-image-slider .controller .nav-left,
      .simple-image-slider .controller .nav-right {
         position: absolute;
         width: 70px;
         height: 100%;
         cursor: pointer;
         opacity: 0.8;
         background-position: center;
         background-repeat: no-repeat;
         background-size: 50px 50px;
         -moz-user-select: none;
         -khtml-user-select: none;
         -webkit-user-select: none;
         -o-user-select: none;
         -webkit-transition: all ease-in-out 0.2s;
         -moz-transition: all ease-in-out 0.2s;
         -o-transition: all ease-in-out 0.2s;
         transition: all ease-in-out 0.2s;
      }

      .simple-image-slider .controller .nav-left:hover,
      .simple-image-slider .controller .nav-right:hover {
         opacity: 1;

      }

      .simple-image-slider .controller .nav-right:hover {
        right: -5px;
      }

      .simple-image-slider .controller .nav-left:hover {
        left: -5px;
      }

      .simple-image-slider .controller .nav-left {
         left: 0;
         background-image: url(../img/arrow_left.png);
      }

      .simple-image-slider .controller .nav-right {
         right: 0;
         background-image: url(../img/arrow_right.png);
      }


@media (max-width: 1168px) {
  .simple-image-slider .slide .caption-wrapper h1 {
    font-weight: 700;
    font-size: 34px !important;
  }
}

@media (max-width: 768px) {
  .simple-image-slider .slide .caption-wrapper {
    bottom: 35px;
    padding-right: 40px;
    width: 100% !important;
  }
  .simple-image-slider .slide .caption-wrapper h1 {
    font-weight: 700;
    font-size: 26px !important;
  }

  .simple-image-slider .slide .caption {
    width: 100%;
  }
  
  .simple-image-slider .controller .nav-left,
  .simple-image-slider .controller .nav-right {
    width: 40px;
  }
}
