fieldset[disabled] .form-control, .form-control {
  &, &:focus, &.focus {
    padding: 0;
    float: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    &:disabled {
      border-style: dashed;
      border-bottom: 1px solid #757575;
    }
  }
}

fieldset[disabled] .form-control, .form-control {
  &:textarea {
    height: 40px;
  }
}

select[multiple].form-control {
  &, &:focus, &.focus {
    height: 85px;
  }
}

.form-control {
  border: 0;
  background-image: linear-gradient(@primary, @primary), linear-gradient(@input-underline-color, @input-underline-color);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(~"100% - 1px");
  background-color: transparent;
  background-color: rgba(0,0,0,0);
  transition: background 0s ease-out;
  &::-webkit-input-placeholder {
    color: @input-placeholder-color;
  }
  &::-moz-placeholder {
    color: @input-placeholder-color;
  }
  &:-ms-input-placeholder {
    color: @input-placeholder-color;
  }
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: transparent;
  background-color: rgba(0,0,0,0);
}
fieldset[disabled] .form-control:disabled,
.form-control-wrapper .form-control:disabled,
.form-control:disabled,
fieldset[disabled] .form-control:focus:disabled,
.form-control-wrapper .form-control:focus:disabled,
.form-control:focus:disabled,
fieldset[disabled] .form-control.focus:disabled,
.form-control-wrapper .form-control.focus:disabled,
.form-control.focus:disabled {
  border: 0; // Ugly override of Bootstrap border
}

.form-control:focus, .form-control.focus {
  outline: none;
  background-image: linear-gradient(@primary, @primary), linear-gradient(@input-underline-color, @input-underline-color);
  background-size: 100% 2px, 100% 1px;
  box-shadow: none;
  transition-duration: 0.3s;
}


.form-control-wrapper {
  position: relative;

  .floating-label {
    color: @input-placeholder-color;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: 5px;
    transition: 0.3s ease all;
  }

  // Input sizes
  .floating-label { // base
    font-size: @font-size-base;
  }
  .form-control:focus ~ .floating-label,
  .form-control:not(.empty) ~ .floating-label {
    top: @floating-label-size-ratio * -@font-size-base;
    font-size: @floating-label-size-ratio * @font-size-base;
  }

  .input-sm + .floating-label { // small
    font-size: @font-size-small;
    top: 7px;
  }
  .form-control.input-sm:focus ~ .floating-label,
  .form-control.input-sm:not(.empty) ~.floating-label {
    top: @floating-label-size-ratio * -@font-size-small;
    font-size: @floating-label-size-ratio * @font-size-small;
  }

  .input-lg + .floating-label {
    font-size: @font-size-large;
    top: 10px;
  }
  .form-control.input-lg:focus ~ .floating-label,
  .form-control.input-lg:not(.empty) ~ .floating-label {
    top: @floating-label-size-ratio * -@font-size-large;
    font-size: @floating-label-size-ratio * @font-size-large;
  }

  .form-control:focus ~ .floating-label {
    color: @primary;
  }
  .form-control:not(.empty):invalid ~ .floating-label, .form-control.focus:invalid ~ .floating-label {
    color: @input-danger;
  }
  .form-control:focus ~ .material-input:after, .form-control.focus ~ .material-input:after {
    background-color: @input-default;
  }
  .form-control:invalid {
    background-image: linear-gradient(@input-danger, @input-danger), linear-gradient(@input-underline-color, @input-underline-color);
  }
  textarea { resize: none; }
  textarea ~ .form-control-highlight {
    margin-top: -11px;
  }

  // Hints
  .hint {
    position: absolute;
    font-size: 80%;
    display: none;
  }
  .form-control:focus ~ .hint, .form-control.focus ~ .hint {
    display: block;
  }

  select ~ .material-input:after {
    display: none;
  }

  // Fix for OS X
  select {
    appearance: none;
  }

}

.form-group {
  &.has-warning {
    .form-control {
      box-shadow: none;
    }
    .material-input:focus, .form-control:focus, .form-control.focus {
      background-image: linear-gradient(@input-warning, @input-warning), linear-gradient(@input-underline-color, @input-underline-color);
      box-shadow: none;
    }
    .control-label, input.form-control:focus ~ .floating-label {
      color: @input-warning;
    }
  }
  &.has-error {
    .form-control {
      box-shadow: none;
    }
    .material-input:focus, .form-control:focus, .form-control.focus {
      background-image: linear-gradient(@input-danger, @input-danger), linear-gradient(@input-underline-color, @input-underline-color);
      box-shadow: none;
    }
    .control-label, input.form-control:focus ~ .floating-label {
      color: @input-danger;
    }
  }
  &.has-success {
    .form-control {
      box-shadow: none;
    }
    .material-input:focus, .form-control:focus, .form-control.focus {
      background-image: linear-gradient(@input-success, @input-success), linear-gradient(@input-underline-color, @input-underline-color);
      box-shadow: none;
    }
    .control-label, input.form-control:focus ~ .floating-label {
      color: @input-success;
    }
  }
  &.has-info {
    .form-control {
      box-shadow: none;
    }
    .material-input:focus, .form-control:focus, .form-control.focus {
      background-image: linear-gradient(@input-info, @input-info), linear-gradient(@input-underline-color, @input-underline-color);
      box-shadow: none;
    }
    .control-label, input.form-control:focus ~ .floating-label {
      color: @input-info;
    }
  }
  .generic-variations(~" .form-control:focus", @primary, {
    background-image: linear-gradient(@material-color, @material-color), linear-gradient(@input-underline-color, @input-underline-color);
  });
  .generic-variations(~" .form-control.focus", @primary, {
    background-image: linear-gradient(@material-color, @material-color), linear-gradient(@input-underline-color, @input-underline-color);
  });
  .variations(~" .control-label", color, @lightbg-text);
  .variations(~" input.form-control:focus ~ .floating-label", color, @input-default);

}

.input-group {
  .form-control-wrapper {
    .form-control {
      float: none;
    }
    margin-right: 5px;
    margin-left: 5px;
  }
  .input-group-addon {
    border: 0;
    background: transparent;
  }
  .input-group-btn .btn {
    border-radius: 4px;
    margin: 0;
  }
}

select.form-control {
  border: 0;
  box-shadow: none;
  border-radius: 0;
  &:focus, &.focus {
    box-shadow: none;
    border-color: #757575;
  }
}

// Input files (kinda hack)
.form-control-wrapper input[type=file] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
