#banner {
  background-size: cover;
  background-position: center center;
  height: 800px;

  .contact-now {
    position: relative;
    width: 100%;
    height: 100%;

    .wrapper {
      position: absolute;
      bottom: 130px;
      right: 20px;
      z-index: 9;
      padding: 20px;
      height: 60px;
      width: 260px;

      p {
        width: 100%;
        height: 30px;
        color: #FFF;
        text-align: center;
      }

      .btn {
        width: 260px;
      }
    }
  }

  .video-background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
  }

  .container-fluid.dark {
    background: rgba(0,0,0,0.15);
  }
  .container-fluid {
    height: 100%;
    background: rgba(0,0,0,0);
    width: 100%;
    .transition(all 0.4s ease-out);

    .info {
      width: 600px;
      position: absolute;
      bottom: 30px;
      color: #FFF;
      text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
      text-align: left;
      padding-left: 8px;

      h1 {
        font-size: 28px;
        font-weight: 700;

      }

      .divider {
        height: 3px;
        width: 260px;
        background-color: @brand-primary;
        margin: 20px 0;
      }

      p {
        font-size: 18px;
        font-weight: 500;
        line-height: 140%;
      }

      .cta {
        margin-top: 50px;
        text-align: center;

        .btn {
          background: @brand-primary;
          color: #FFF;
          text-shadow: none;
          opacity: 1;

          .fa {
            font-size: 26px;
            margin-top: -6px;
            margin-bottom: -2px;
            margin-left: -20px;
            position: absolute;
          }

          &:hover {
            opacity: 0.9;
          }
        }

      }
    }
  }
}

@media screen and (max-width: @screen-md) {
  #banner {
    .contact-now {
      display: none;
    }
  }
}
