.blog-post {
  padding: 0;
  border: 10px solid #FFF;

  .thumbnail {
    padding: 0;
    border: 0;
    margin-bottom: 10px;

    img {
      -webkit-border-top-left-radius: 4px;
      -webkit-border-top-right-radius: 4px;
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-topright: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  h3 {
    a {
      color: #424242;
      font-size: 18px;
      font-weight: 700;
    }
    padding: 0 0px;
    margin: 0;
  }

  .updated,
  .author {
    font-size: 14px;
    color: #808080;
    line-height: 100%;
    padding: 0px 0px;
  }

  .author {
    display: none;
  }

  .entry-summary {
    padding: 0px 0px 10px 0px;
    font-size: 15px;
    color: #424242;
    line-height: 180%;

    .btn {
      display: inline-block;
      margin: 20px auto 20px auto;
    }
  }
}
