.contact-page {
  .send-container {
    text-align: center;
  }

  .contact-info {
    background: @brand-background;
    padding: 0;
    padding: 60px 30px 0 30px;
    margin: 0;
    margin-top: 78px;
    word-break: break-all;

    p.icon {
      float: right;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      color: #FFF;
      margin-right: 10px;
      text-align: center;
      display: block;

      i {
        padding-top: 19px;
        display: block;
        font-size: 24px;
      }
    }

    .contact-text {
      text-align: left;
      padding: 0 0 0 10px;

      h3 {
        margin: 8px 0 0 0;
        font-size: 16px;
        font-weight: 700;
      }
    }
  }

  .maps {
    padding: 0;
    margin: 0;

    .google-maps {
      margin: 0;
    }
  }
}
