.footer {
  background: @brand-background;
  color: #f7f7f7;
  padding: 60px 20px 60px 20px;
  margin: 0px 0 0 0;


  .footer-heading {
    font-size: 20px;
    color: #696967;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    i {
      font-size: 28px;
    }
  }

  .credits {
    font-size: 12px;
    color: #696967;
    font-weight: 400;
    margin-top: 20px;
  }
  h3 {
    color: #969696;
    font-size: 20px;
    text-transform: uppercase;

  }
  .widget_text {
    color: #696967;
    text-align: center;
  }
  .textwidget {
    font-size: 12px;
    line-height: 2;
  }
}
