#gallery {
  margin-top: 77px;

  .head {
    height: 290px;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;

    .overlay {
      width: 100%;
      height: 290px;
      background-color: rgba(0,0,0,0.4);

      .text-wrapper {
        display: table;
        height: 290px;
        max-width: 600px;
        margin: 0 auto;

        .text {
          display: table-cell;
          vertical-align: middle;
          max-width: 600px;
          padding: 0 30px;
        }
      }
    }

    h2 {
      color: #FFF;
    }

    p {
      color: #FFF;
      font-size: 18px;
      font-weight: 400;
      line-height: 150%;
    }
  }

  .categories {
    box-shadow: -1px -1px 0px rgba(0,0,0,0.3);
    margin: 0 -14px;
    padding: 40px 0 20px 0;
    text-align: center;
    border-bottom: 1px solid #ededed;
    line-height: 130%;

    .item {
      display: inline-block;
      color: #7a7a7a;
      font-weight: 400;
      font-size: 14px;
      padding: 6px 23px;
      text-transform: uppercase;
      text-decoration: none;
      .transition(all 0.15s ease-out);

      &:after{
        .transition(all 0.5s);
        content: " ";
        float: left;
        display: inline-block;
        width: 0px;
        background: none;
        height: 3px;
        border-bottom:solid 2px #7a7a7a;
        margin-bottom: -10px;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }

      &.active {
        &:after {
          border-bottom:solid 2px @brand-primary;
          width: 100%;
        }
      }

    }
  }

  .images {

    h3 {
      text-align: center;
      padding: 30px 0 30px 0;
    }

    .icon {
      width: 18px;
      height: 18px;
      font-size: 20px;
      margin: 0 auto 30px auto;
      color: #3d3d3d;

      .border {
        margin-top: 4px;
        margin-left: -20px;
        width: 100px;
        height: 2px;
        position: absolute;
        background: #3d3d3d;

        &.left {
          margin-left: -100px;
        }

        &.right {
          margin-left: 14px;
        }
      }

      .fa {
        position: absolute;
      }
    }

    .row {
      padding-top: 6px;
      padding-bottom: 6px;

      .item {
        margin-bottom: 30px;
        overflow: hidden;

        .overlay {
          display: block;
          cursor: pointer;
          position: absolute;
          top: 0;
          height: 500px;
          width: ~"calc(100% - 30px)";
          .transition(all 0.15s ease-out);
          border-radius: 4px;

          .icon {
            position: absolute;
            height: 500px;
            width: 100%;
            display: table;
            padding-top: 60px;
            .transition(all 0.15s ease-out);

            .zoom {
              text-align: center;
              display:table-cell;
              vertical-align: middle;
              opacity: 0;
              color: @brand-primary;
              font-size: 60px;
              .transition(all 0.15s ease-out);
            }
          }

          .desc {
            opacity: 0;
            color: #FFF;
            font-size: 14px;
            position: absolute;
            font-weight: 700;
            padding: 6px 20px;
            bottom: -10px;
            .transition(all 0.15s ease-out);
          }

          &:hover {
            background-color: rgba(0,0,0,0.5);

            .icon {
              padding: 0;
              .zoom {
                opacity: 1;
              }
            }
            .desc {
              opacity: 1;
              bottom: 0px;
            }
          }
        }

        .img {
          display: block;
          height: 500px;
          width: 100%;
          background-size: cover;
          background-position: center center;
        }
      }
    }
  }

  &.one-full {
    .images {
      .overlay {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #gallery {
    .images {
      .img {
        height: 360px !important;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .one-full {
    .images {
      .img {
        height: 600px !important;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .one-full {
    .images {
      .img {
        height: 400px !important;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .one-full {
    .images {
      .img {
        height: 1200px !important;
      }
    }
  }
}
