// loading effect
.loading {
  height: 100%;
  width: 100%;
  background: #FFF !important;
  z-index: 999;
  position: fixed;

  .loader {
    color: #3d3d3d !important;
  }
}

#header {
  position: fixed;
  z-index: 9999;
  width: 100%;
  padding: 0;
  .transition(all 0.2s ease-in-out);

  .mobile-menu {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: scroll;
    background: #FBFAF8;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: center;

    ul.menu {
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
      .vertical-align();

      li {
        padding: 4px 0;
        position: relative;
        .clearfix();

        a {
          display: block;
          color: #3d3d3d;
          font-size: 22px;
          text-transform: uppercase;
          text-decoration: none;

          .caret {
            display: none;
          }

          &.dropdown-toggle:after {
            content: "\f105";
            font-family: FontAwesome;
            font-size: 18px;
            padding-left: 6px;
            color: rgba(0,0,0,0.6);
          }
        }

        .dropdown-menu {
          display: block;
          position: absolute;
          width: 100%;
          text-align: center;
          box-shadow: none;
          border-radius: 0;
          border: none;
          background: none;
          transform: translate(200%, 0);
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

          li {
            padding: 4px 0;

            a {
              color: #3d3d3d;
              font-size: 22px;
              padding: 0;
              text-transform: uppercase;
              text-decoration: none;
            }
          }

          &.show {
            transform: translate(100%, 0);
          }
        }
      }


      &.gone {
        transform: translate(-100%, -50%);
      }
    }

    &.open {
      transform: scale(1.0, 1.0);
      opacity: 1;
    }
  }

  .seperator {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(255,255,255,0.3);
  }

  // top info
  .top-info {
    height: 56px;
    .transition(all 0.2s ease-in-out);

    [class*=' col-'] {
      padding: 10px 0 0 0;
    }

    .contact-info,
    .social {
      p,
      a {
        color: #FFF;
        font-size: 16px;
        display: inline-block;
      }
    }

    .social {
      text-align: right;
      padding-right: 0;
      padding-bottom: 10px;

      a {
        font-size: 24px;
        padding: 5px 10px;
        .transition(all 0.2s ease-in-out);

        &:hover {
          color: @brand-primary;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }


  // navbar
  nav {
    height: 100%;
    position: relative;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;

    .logo-container {
      float: left;
      width: 300px;
      padding: 0px 0;
      height: auto;

      .logo {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 250px;
        height: 50px;
        display: block;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        &.light {
          opacity: 1;
          .transition(all .2s ease-in-out);
        }

        &.dark {
          top: 0;
          opacity: 0;
          position: absolute;
          .transition(all .2s ease-in-out);
        }
      }

      .logo-text {
        display: block;
        padding: 8px 0;
        font-size: 40px;
        font-weight: bold;
        text-decoration: none;
        .transition(all 0.2s ease-in-out);

        &:hover {
          color: #efefef;
        }
      }
    }

    .nav-wrapper {
      position: absolute;
      right: 0;
      width: ~"calc(100% - 300px)";
      height: 100%;

      .nav {
        position: relative;
        height: auto;
        text-align: right;
        top: 0;
        .transition(all 0.2s ease-in-out);

        li {
          display: inline-block;
          float: none;
          cursor: pointer;
          padding: 0;
          height: auto;
          .transition(all 0.2s ease-in-out);

          a {
            font-size: 18px;
            font-weight: bold;
            padding: 0 15px 0 15px;
            .transition(all 0.2s ease-in-out);

            &:hover {
              background: 0;
              color: #FFF;
            }

            &:after {
              content: "";
              display: block;
              width: 100%;
              height: 2px;
              margin-top: -14px;
              background-color: @brand-primary;
              opacity: 0;
              .transition(all 0.2s ease-in-out);
            }

            &.dropdown-toggle {
              &:after {
                display: none;
              }
            }
          }


          &:last-child {
            margin-right: -15px;
          }

          // dropdown
          .dropdown-menu {
            margin-top: -12px;
            box-shadow: none;
            border: none;
            border-bottom: 2px solid rgba(0,0,0,0.15);
            background-color: @brand-primary;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            padding: 0px !important;
            display: none;

            li {
              display: block;
              border-bottom: 1px solid rgba(255,255,255,0.2);
              border-left: 0px solid rgba(0,0,0,0.3);
              padding: 0px;

              a {
                display: block;
                padding: 10px 20px;
                font-weight: 600;
                font-size: 16px;
                color: #FFF;
                cursor: pointer;
                .transition(all 0.2s ease-in-out);

                &:after {
                  display: none;
                }

                &:hover {
                  color: #FFF !important;
                  padding-left: 5px;
                }

                &:before {
                  content: "";
                  position: absolute;
                  height: auto;
                  width: 4px;
                  background: rgba(0,0,0,0.3);
                }
              }

              &:first-child {
                padding-top: 4px;
              }

              &:last-child {
                margin-right: 0px;
                border-bottom: none;
                padding-bottom: 4px;
              }

              &:hover {
              }
            }
          }

          &:hover,
          &:active,
          &:visited,
          &:focus {
            background: 0;

            a {
              &:after {
                transform: translate(0, 4px);
                opacity: 1;
              }
            }

            .dropdown-menu {
              display: inline-block;
              transform: translate(0, 6px);

              .keyframes(dropdown-in;{
                0% {opacity: 0; transform: translate(0, 0);}
                100% {opacity: 1; transform: translate(0, 6px);}
                });

                .animation(dropdown-in 0.2s ease-in-out);

                li {
                  a {
                    padding: 10px 20px;
                    margin: 0;

                    &:after {
                      display: none;
                    }

                    &:hover {
                      padding: 10px 16px 10px 20px;
                      margin-left: 4px;
                      color: #333333;
                    }
                  }
                }
              }
            }

          }
        }
      }


      .mobile-menu-nav {
        display: none;
        position: absolute;
        width: 100%;
        height: 36px;
        top: 0;
        margin-top: 16px;
        z-index: 2;
        -webkit-user-select: none;
        user-select: none;

        .back {
          padding: 0;

          button {
            width: 40px;
            height: 36px;
            border: none;
            padding: 0;
            margin: 0;
            background: transparent;
            opacity: 0;
            transform: translate(6px, 0);
            .transition(all 0.5s cubic-bezier(0.77,0.2,0.05,1.0));


            &:before {
              position: absolute;
              top: 10px;
              left: 0;
              content: " ";
              width: 22px;
              height: 4px;
              border-radius: 3px;
              background-color: #3d3d3d;
              transform: rotate(-45deg);
            }

            &:after {
              position: absolute;
              top: 24px;
              left: 0;
              content: " ";
              width: 22px;
              height: 4px;
              border-radius: 3px;
              background-color: #3d3d3d;
              transform: rotate(45deg);
            }

            &.show {
              opacity: 1;
              transform: translate(0,0);
            }
          }
        }

        .menu {
          cursor: pointer;
          -webkit-user-select: none;
          user-select: none;
          margin-top: 4px;
          height: 26px;

          span {
            display: block;
            width: 32px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: #FFF;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 4px 0;
            transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;

            &:first-child
            {
              transform-origin: 0% 0%;
            }

            &:nth-last-child(2)
            {
              transform-origin: 0% 100%;
            }
          }

          &.open {
            span {
              &:first-child {
                transform: rotate(45deg) translate(5px,-4px);
                background-color: #3d3d3d;
              }

              &:nth-last-child(2) {
                opacity: 0;
              }

              &:last-child {
                transform: rotate(-45deg) translate(0px, 3px);
                background-color: #3d3d3d;
              }
            }
          }
        }
      }
    }

    /*
    * Header slim style
    */
    @media (min-width: @screen-lg) {
      &.slim {
        background-color: #FFF;
        box-shadow: 0 2px 0 rgba(0,0,0,0.05);
        transform: translate(0, -56px);

        nav {
          .logo-container {
            .logo {
              &.light {
                opacity: 0;
              }
              &.dark {
                opacity: 1;
              }
            }

            .logo-text {
              color: #3d3d3d;
              font-size: 32px;

              &:hover {
                color: #000;
              }
            }
          }
          .nav-wrapper {
            .nav {
              .vertical-align();

              li {
                a {
                  color: #3d3d3d;

                  &:hover {
                    color: #3d3d3d;
                  }
                }
              }
            }
          }
        }
      }
    }
  }



  /*
  * Mobile menu
  */

  @media (max-width: @screen-lg) {

    #header {
      position: absolute;
      transform: translate(0,0);

      .mobile-menu {
        display: block;
      }

      .top-info {
        display: none;
      }

      nav {
        .nav-wrapper {
          display: none;
        }

        .mobile-menu-nav {
          display: block;
        }
      }
    }

  }

  @media (max-width: @screen-sm) {
    #header {
      .mobile-menu {
        ul {
          li {
            a {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
