// google maps

.google-maps {
  width: 100%;
  height: 500px;
  margin: 10px 0;
}

// youtube frame
.youtube-frame {
    margin: 10px 0;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.youtube-frame iframe,
.youtube-frame object,
.youtube-frame embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// tabs
.nav-tabs {
  border: 0;
  li {
    a {
      color: #ACB4B6;
      border: 0;
      text-transform: uppercase;
      font-weight: 700;
      padding: 10px 20px 15px 0px;
      .transition(all 0.15s ease-out);
      &:hover,
      &:focus {
        border: 0;
        background: 0;
        color: #3d3d3d;
      }
    }

    &.active {
      a {
        border: 0;
        &:hover,
        &:focus {
          border: 0;
          background: 0;
          color: #3d3d3d;
        }
      }
    }
  }
}

.tab-content {
  padding: 0 0 20px 0;
}

// accordion

.panel {
  .panel-heading {
    padding: 0;
    .panel-title {
      a {
        padding: 10px 12px;
        text-decoration: none !important;
        display: block;
      }
    }
  }
}
