.sidebar-blog {
  margin-top: -12px;

  .widget {
    padding: 4px 20px 3px 20px;
    margin-top: 15px;

    h3 {
      margin: 0 0 10px 0;
      font-size: 16px;
      font-weight: 700;
      color: #424242;
    }

    ul {
      li {
        border-bottom: 1px solid #e5e8ea;
        padding-top: 3px;
        padding-bottom: 3px;

        &:last-child {
          border-bottom: 0;
        }

        a {
          color: #595959;
          font-size: 14px;
        }
      }
    }
  }

  .widget_search {
    display: none;

    .input-group {
      .search-submit {
        padding: 3px;
        font-weight: 12px;
        float: right;
      }
    }
  }
}
