body.login {
	background-color: #f5f5f5;
}
body.login div#login {
	padding: 0 !important;
}
body.login div#login h1 {}
body.login div#login h1 a {
	background-image: none,url(../img/norrastationblacklogo.png);
	margin-bottom: -50px;
	width: 120px;
	height: 100px;
	background-size: 120px;
}
body.login div#login form {
	 background: transparent; 
	 -webkit-box-shadow: none; 
	 box-shadow: none; 
}
body.login div#login form p {}
body.login div#login form p label {
	font-weight: lighter;
}
body.login div#login form input {}
body.login div#login form .input {
	color: #747474 !important;
	display: block;
	height: 44px;
	padding: 5px 1%;
	border: 1px solid #ccc;
	border-radius: @border-radius-base;
	-webkit-background-clip: padding-box !important;
	background-clip: padding-box !important;
	background-color: #fff !important;
	font-size: 16px;
	letter-spacing: .8px;
	font-weight: lighter;
	width: 150%;
	text-indent: 5px;
}
body.login div#login form input#user_login {}
body.login div#login form input#user_pass {}
body.login div#login form p.forgetmenot {}
body.login div#login form p.forgetmenot input#rememberme {}
body.login div#login form p.submit {}
body.login div#login form p.submit input#wp-submit {
	text-transform: uppercase;
	letter-spacing: 1px;
	background-color: transparent;
    border-color: @brand-primary;
    color: @brand-primary;
    height: 45px;

    &:hover {
      background-color: @brand-primary;
      border-color: @brand-primary;
      color: #fff;
      box-shadow: none !important;
    }
}
body.login div#login p#nav {}
body.login div#login p.message {
	margin-top: 20px;
	margin-bottom: 0;
}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}