.search-form {

   .input-group {
      width: 100%;
      text-align: center;

      .search-field {
         width: 200px !important;
         float: none;
         font-size: 18px;
      }

      .search-submit {
         display: none;
         border-radius: 30px !important;

         border: 2px solid transparent;
         background: @brand-primary;
         color: #FFF;
         padding: 7px 25px;
         height: 39px;
         font-size: 14px;

         &:hover {
           color: #FFF;
           background: @brand-primary;
           border: 2px solid @brand-primary;
         }

         &:before {
           margin-left: -14px;
           margin-top: -2px;
           font-size: 18px;
         }

         &:hover {
           padding: 7px 17px 7px 33px;
         }
      }
   }
}

.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 46px;
  height: 59px;
  box-shadow: none;
  font-weight: 700 !important;
  font-size: 18px;
  .transition(all 0.15s ease-out);

  &:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #FFF;
    float: left;
    margin-left: -16px;
    margin-top: -3px;
    opacity: 0;
    .transition(all 0.15s ease-out);
    font-size: 22px;
  }

  &:hover {

    padding: 15px 38px 15px 54px;

    &:before {
      opacity: 1;
    }


    .fa {
      .transition(all 0.3s ease-in-out);
      -moz-transform:rotate(360deg);
      -webkit-transform:rotate(360deg);
      transform:rotate(360deg);
    }
  }

  &.btn-primary {
    border: 2px solid transparent;
    border-radius: 30px;
    background: @brand-primary;
    color: #FFF;

    &:hover {
      color: #FFF;
      background: @brand-primary;
    }
  }

  &.btn-pure-white {
    border: 0;
    background: transparent;
    color: #FFF;
    width: auto;

    &:hover {
      color: #FFF;
    }
  }

  &.btn-alert {
    border: 2px solid transparent;
    border-radius: 30px;
    background: #e74c3c;
    color: #FFF;

    &:hover {
      color: #FFF;
      background: #e74c3c;
    }
  }

  &.btn-primary-outlined {
    border: 2px solid @brand-primary;
    border-radius: 30px;
    background: transparent;
    color: @brand-primary;
    text-shadow: none;

    &:hover {
      border: 2px solid @brand-primary;
      color: #FFF;
      background: @brand-primary;
    }
  }

  &:hover {
    box-shadow: none;
  }

  &.small {
    padding: 7px 25px;
    height: 39px;
    font-size: 14px;

    &:before {
      margin-left: -14px;
      margin-top: -2px;
      font-size: 18px;
    }

    &:hover {
      padding: 7px 17px 7px 33px;
    }
  }

  &.medium {
    padding: 12px 35px;
    height: 49px;
    font-size: 16px;

    &:before {
      margin-left: -14px;
      margin-top: -3px;
      font-size: 20px;
    }

    &:hover {
      padding: 12px 27px 12px 43px;
    }

    &.btn-pure-white {
      padding-left: 0;
      padding-right: 0;

      &:hover {
        padding-left: 14px;
      }
    }
  }

  &.btn-loading {
    opacity: 0.8;
    content: "";

    &:hover {
      padding: 15px 46px;

      &:before {
        opacity: 0;
      }
    }
  }

  &.square {
    border-radius: 0;
  }
}

.spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
