.divider {
  .transition(all 0.4s ease-out);
  .translate3d (0,0,0);

  &.scroll-prepare {
    width: 0px !important;
  }
  &.scroll-animate {
    width: 260px !important;
  }
}

.col-image {
  .image {
    .transition(all 0.6s ease-out);
    .translate3d (0,0,0);

    &.scroll-prepare {
      filter: ~"greyscale(1)";
    }
    &.scroll-animate {
      filter: ~"greyscale(0)";
    }
  }
}

#banner {
  .info {
    .transition(all 0.4s ease-out);
    .translate3d (0,0,0);

    &.scroll-prepare {
      padding-top: 60px !important;
      opacity: 0;
    }
    &.scroll-animate {
      padding-top: 0 !important;
      opacity: 1;
    }
  }
}

#header {
  .translate3d (0,0,0);

  &.scroll-prepare {
    opacity: 0 !important;
    top: -20px !important;
  }
  &.scroll-animate {
    opacity: 1 !important;
    top: 0px !important;
  }
}

.home-testimonials {
  /*
  .info{
    .transition(all 0.4s ease-out);
    .translate3d (0,0,0);

    &.scroll-prepare {
      opacity: 0;
      padding-top: 60px;
    }
    &.scroll-animate {
      opacity: 1;
      padding-top: 0;
    }
  }
  */
}

#home-gallery {
  .see-all-images {
    .btn {
      -webkit-transition: all 0.15s ease-out, opacity 0.4s ease-out, margin 0.4s ease-out;
      -moz-transition:    all 0.15s ease-out, opacity 0.4s ease-out, margin 0.4s ease-out;
      -ms-transition:     all 0.15s ease-out, opacity 0.4s ease-out, margin 0.4s ease-out;
      -o-transition:      all 0.15s ease-out, opacity 0.4s ease-out, margin 0.4s ease-out;
      .translate3d (0,0,0);

      &.scroll-prepare {
        margin-left: -100px;
        opacity: 0;
      }
      &.scroll-animate {
        margin-left: 0px;
        opacity: 1;
      }
    }
  }
}

#home-about {
  .read-more {
    .btn {
      -webkit-transition: all 0.15s ease-out, opacity 0.4s ease-out, margin 0.4s ease-out;
      -moz-transition:    all 0.15s ease-out, opacity 0.4s ease-out, margin 0.4s ease-out;
      -ms-transition:     all 0.15s ease-out, opacity 0.4s ease-out, margin 0.4s ease-out;
      -o-transition:      all 0.15s ease-out, opacity 0.4s ease-out, margin 0.4s ease-out;
      .translate3d (0,0,0);

      &.scroll-prepare {
        margin-left: -100px;
        opacity: 0;
      }
      &.scroll-animate {
        margin-left: 0px;
        opacity: 1;
      }
    }
  }
}
