@media (min-width: 768px) and (max-width: 992px) {
	.sidebar {
		float: none;
		top: 20px;
	}
}


.nyheter,
.anmalan-tentamen, {
	.sidebar-nav {
		margin-top: 24px !important;
	}
}
.sidebar-nav {
  .widget-title {
  	font-size: 18px !important;
  	text-transform: uppercase !important;
  	letter-spacing: 2px !important;
  	margin-bottom: 18px !important;

  	&:after {
  		content: '' !important;
  		left: 15px !important;
  		width: 40px !important;
  		height: 3px !important;
  		background: #007277 !important;
  		margin-top: 10px !important;
  		clear: both;
  		display: block;
  	}
  }
  ul {
  	list-style: none !important;
  	padding: 0 !important;
  	padding: 0 0 0 0 !important;

  	  li {
  			a {
  				font-size: 14px !important;
  				color: #333333 !important;
  				line-height: 38px !important;
  				padding: 0 0 0 20px !important;
  				margin: 0 !important;
  				text-decoration: none !important;
  				letter-spacing: 1px !important;
  				text-transform: uppercase !important;
  			}

  			&:before {
  				content: "\f067" !important;
  				font-family: 'FontAwesome' !important;
  				font-weight: lighter !important;
  				font-size: 8px !important;
  				color: #525252 !important;
  				position: absolute !important;
				  margin-top: 14px !important;
  			}
  	  }
  }
}
.single-post,
.archive,
.single-event {
	.sidebar {
	  h3 {
	  	font-size: 18px !important;
	  	text-transform: uppercase !important;
	  	letter-spacing: 2px !important;
	  	margin-bottom: 18px !important;

	  	&:after {
	  		content: '' !important;
			  position: absolute !important;
			  left: 45px !important;
			  width: 40px !important;
			  height: 3px !important;
			  background: @brand-primary !important;
			  margin-top: 30px !important;
	  	}
	  }
	  ul {
	  	list-style: none !important;
	  	padding: 0 !important;
	  	padding: 0 0 0 0 !important;

	  	  li {
	  			a {
	  				font-size: 14px !important;
	  				color: #333333 !important;
	  				line-height: 38px !important;
	  				padding: 0 0 0 20px !important;
	  				margin: 0 !important;
	  				text-decoration: none !important;
	  				letter-spacing: 1px !important;
	  				text-transform: uppercase !important;
	  			}

	  			&:before {
	  				content: "\f067" !important;
	  				font-family: 'FontAwesome' !important;
	  				font-weight: lighter !important;
	  				font-size: 8px !important;
	  				color: #525252 !important;
	  				position: absolute !important;
					  margin-top: 14px !important;
	  			}
	  	  }
	  }
	}
}
